        <h1 class="mx-auto row col-12 justify-content-center text-center p-5 " style="width: 600px">WELCOME TO TIME-STORE</h1>    
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-body shadow">
                        <h6>Registration</h6>

<form id="signup" (ngSubmit)="onSubmit()">

    <div class="float:left margin-right:20px px-4 pt-3 ">
        <label for="firstName">First Name:</label>
<div class="">

    
    <input type="text"
        class="create-user"
        name="firstName"
        [(ngModel)]="firstName"
        cols="50"
        maxlength="50"
        placeholder="First Name">
    
</div>
<div class="float:left margin-right:20px pt-3 ">
    <label for="lastName">Last Name:</label>
<div class="">
    <input type="text"
        class="create-user"
        name="lastName"
        [(ngModel)]="lastName"
        cols=""
        maxlength="50"
        placeholder="Last Name">
    
</div>
<div class="float:left margin-right:20px pt-3 ">
    <label for="email">Email:</label>
<div class="">
    <input type="text"
        class="create-user"
        name="email"
        [(ngModel)]="email"
        cols=""
        maxlength="50"
        placeholder="Email">
    
</div>

<div class="float:left margin-right:20px pt-3 ">
    <label for="password">Passowrd:</label>
<!-- <lable>Password</lable> -->
<div class="">
    <input type="text"
        class=""
        name="password"
        [(ngModel)]="password"
        cols="50"
        maxlength="50"
        placeholder="Password">
    
</div>
<div class="row">
    <div class="col text-center pt-4">
<div class="btn-default">
    </div>
<input type="submit" value="Signup"/>

<!-- </form> -->
