<h1 *ngIf="error">Please fill all the fields!</h1>

<div>
    <form (ngSubmit)="onSubmit()">
        <div [ngClass]="error ? 'red-outline' : 'create-container'">
            <div class="register-input">
                <!-- <img
                    class="profile-pic"
                    src="https://freepikpsd.com/media/2019/10/default-user-profile-image-png-6-Transparent-Images.png"
                /> -->
                <input type="text"
                    class="create-user"
                    name="firstName"
                    [(ngModel)]="firstName"
                    cols="50"
                    maxlength="50"
                    placeholder="Type your first name here">
                
            </div>

            <div class="register-input">
                <input type="text"
                    class="create-user"
                    name="lastName"
                    [(ngModel)]="lastName"
                    cols="50"
                    maxlength="50"
                    placeholder="Type your last name here">
                
            </div>

            <div class="register-input">
                <input type="text"
                    class="create-user"
                    name="email"
                    [(ngModel)]="email"
                    cols="50"
                    maxlength="50"
                    placeholder="Type your email here">
                
            </div>

            <div class="register-input">
                <input type="text"
                    class="create-user"
                    name="password"
                    [(ngModel)]="password"
                    cols="50"
                    maxlength="50"
                    placeholder="Type your password here">
                
            </div>

            <div class="preview">
                <p>{{email}}</p>
                <input
                    type="submit"
                    value="Register"
                    class="add-user-button"
                />
            </div>
        </div>
    </form>
</div>